{{#each courses}}
<div>
  <h3>{{this.course_name}}</h3>
  <img src={{this.img_url}} alt={{this.alt_name}}>
  <h5>WHEN?</h5>
  <p>{{this.timewhen}}</p>
  <h5>WHERE?</h5>
  <p>{{this.place}}</p>
  <h5>AGE?</h5>
  <p>{{this.age}}</p>
  <h5>HOW MUCH?</h5>
  <p>{{this.cost}}</p>
  <form action="/join" method="POST">
  <button type="submit" name="join {{this.course_id}}"> Join Course</button>
</form>

<form action="/cancel" method="POST">
  <button type="submit" name="cancel {{this.course_id}}"> Cancel</button>
</form>

</div>
{{/each}}
<form action="/signout" method="post">
<button type="submit" name="signout">Sign out !</button>
</form>
